# Dependencies
node_modules/
.venv/
env/
venv/

# Build & Dist
dist/
build/
.cache/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Local SQLite databases
*.db
*.sqlite3

# Environment
.env
.env.local
.env.*.local

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
